

<h2 style="color: red">
  Selection by object value<br>

  Does not work - object in selectedCustomer is referential equal to the objects used in  "bindValue" value
</h2>


<ng-select
  [items]="options"
  [(ngModel)]="selectedCustomer"
  bindLabel="label"
  bindValue="value"
></ng-select>


@for(option of options; track option.label) {
  <div>
    Option {{option.label}} === Selected {{option.value === selectedCustomer}}
  </div>
}


<h3>
  Selected: <br>
  {{ selectedCustomer | json }}

</h3>


<hr>


<h2 style="color: green">
  Selection by object id - Works
</h2>


<ng-select
  [items]="options"
  [(ngModel)]="selectedCustomerId"
  bindLabel="label"
  bindValue="value.id"
></ng-select>


@for(option of options; track option.label) {
  <div>
    Option {{option.label}} === Selected {{option.value.id === selectedCustomerId}}
  </div>
}

<h3>
  Selected customer id: <br>
  {{ selectedCustomerId }}

</h3>
